git+https://github.com/waveshareteam/e-Paper.git#subdirectory=RaspberryPi_JetsonNano/python&egg=waveshare-epd
ffmpeg-python==0.2.0
Pillow==9.5.0
ConfigArgParse==1.4.1
git+https://github.com/robweber/omni-epd.git@v0.4.2#egg=omni-epd
requests==2.31.0