[Unit]
Description=Run Script Service
After=network.target

[Service]
ExecStart=/home/cathychang/AI-Picture-Frame/run_script.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
