[Unit]
Description=Run Script Service
After=network.target

[Service]
Environment="PATH=%h/AI-Picture-Frame/.venv/bin:%(ENV_PATH)s"
ExecStart=%h/AI-Picture-Frame/launcher.sh

[Install]
WantedBy=default.target